.cover__link {
  text-decoration: none;
  padding: 244px 0;
  background-image: url(../../../images/cover-background.png);
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 50;
}

.cover__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(42, 44, 46, 0.3);
  transition: 0.35s;
}

.cover__link:hover::after {
  background-color: rgba(42, 44, 46, 0.8);
}

@media screen and (max-width: 1279px) {
  .cover__link {
    padding: 195px 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    padding: 115px 0;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    padding: 50px 0;
  }
}

@media screen and (max-width: 424px) {
  .cover__link {
    padding: 25px 0;
  }
}
